@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font: 112.5%/1.45em Quicksand, sans-serif;
  color: #2e2e2e;
  font-weight: 400;
  word-wrap: break-word;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

main,
footer {
  scroll-behavior: smooth;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(201, 195, 195, 0.329) 25%,
      hsla(0, 8%, 80.4%, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      hsla(0, 5.2%, 81%, 0.185) 75%,
      rgba(180, 176, 176, 0.05) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(204, 196, 196, 0.226) 25%,
      hsla(0, 4%, 66.1%, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      hsla(0, 5.2%, 81%, 0.185) 75%,
      rgba(180, 176, 176, 0.05) 76%,
      transparent 77%,
      transparent
    );
  background-color: #fff;
  background-size: 50px 50px;
}

@import url("./theme/juejin.min.css");
@import url("./theme/github.min.css");
@import url("./theme/smartblue.min.css");
@import url("./theme/cyanosis.min.css");
@import url("./theme/channing-cyan.min.css");
@import url("./theme/fancy.min.css");
@import url("./theme/hydrogen.min.css");
@import url("./theme/condensed-night-purple.min.css");
@import url("./theme/greenwillow.min.css");
@import url("./theme/v-green.min.css");
@import url("./theme/vue-pro.min.css");
@import url("./theme/healer-readable.min.css");
@import url("./theme/mk-cute.min.css");
@import url("./theme/jzman.min.css");
@import url("./theme/geek-black.min.css");
@import url("./theme/awesome-green.min.css");
@import url("./theme/qklhk-chocolate.min.css");
@import url("./theme/orange.min.css");
@import url("./theme/scrolls-light.min.css");
@import url("./theme/simplicity-green.min.css");
@import url("./theme/arknights.min.css");
@import url("./theme/vuepress.min.css");
@import url("./theme/Chinese-red.min.css");
@import url("./theme/nico.min.css");
@import url("./theme/devui-blue.min.css");
